
    <!DOCTYPE html>
    <html lang="ar">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    
    </head>
    <body>
        <div class="container">
            <div class="screen">
                <div class="screen__content">
                    
                    <form class="login" action="/" method="POST">
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input type="email" class="login__input" name="email" placeholder="Email" required>
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-lock"></i>
                            <input type="password" class="login__input" name="password" placeholder="Password" required>
                        </div>
                        <button type="submit" class="button login__submit">
                            <span class="button__text">Login Now</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>
                    </form>
                    {% if message %}
                        <p style="color: black;" class="text-center mt-3">{{ message }}</p>
                    {% endif %}
                    
                </div>
                <div class="screen__background">
                    <span class="screen__background__shape screen__background__shape4"></span>
                    <span class="screen__background__shape screen__background__shape3"></span>
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                </div>
            </div>
        </div>
        
    
    </body>
    </html>
    